Lambda Function

 A lambda function is a small, anonymous function (without a name) used for short, simple tasks.

In [ ]:
#lambda arguments: expression

add = lambda x,y :  x+y
print(add(10,20))


def add(x,y):
    return x+y
add(45,55)

30

100

Map() :    Transform Each Element

In [8]:
# map(function ,iterable)
# Applies a function to every item in an iterable.

num_list = [1,2,3,4,5,6,7,8,9,10]
squared = list(map(lambda x :x**2,num_list))
print(squared)

# Real Use Case Example :
celsius = [0,10,20,30,40,50,60,70,80,90,100]
fahrenheit = list(map(lambda x : (x * 9/5)+32,celsius))
print(fahrenheit)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0, 212.0]

Filter() : Filter Elements by Condition

In [24]:
# filter (function , iterable)
# Returns only elements that meet a condition (True) from an iterable.
num_list2 = [1,2,3,4,5,6,7,8,9,10]
even = list (filter(lambda x : x%2 == 0 ,num_list2))
print(even)

# Real use case Example :

students = [("Muhammad",55),("Ali",50),("Zare",85),("Ahmed",30)]
passed = list(filter(lambda student : student[1] >= 50,students))
print(passed)

[2, 4, 6, 8, 10]
[('Muhammad', 55), ('Ali', 50), ('Zare', 85)]

Reduce():    Reduce to a Single Value

In [ ]:
# from functools import reduce 
#)
#Applies a function cumulatively to items in an iterable (must import from functools).

[('Ali', 50), ('Zare', 85)]